.sidebar {
    padding: 40px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    min-width: 400px;
    width: 400px;
    background-color: #313131;
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &__top {
        padding: 20px 32px;
        background-color: #4B4B4B;
        color: #fff;
        font-size: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
        fill: #fff;
    }

    &__list {
        display: none;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        background-color: #282828;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        width: 120px;
        height: 120px;
        object-fit: contain;
    }
}