<div class="wrap">
  <div id="room" class="room">
    <div class="menu is-hidden" id="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <button type="button" id="rotate" class="menu__btn">
            <p class="menu__text">Rotate</p>
            <svg class="menu__icon" width="24" height="24">
              <use href="#round"></use>
            </svg>
          </button>
        </li>
        <li class="menu__item">
          <button type="button" id="toup" class="menu__btn">
            <p class="menu__text">To up</p>
            <svg class="menu__icon" width="24" height="24">
              <use href="#up"></use>
            </svg>
          </button>
        </li>
        <li class="menu__item">
          <button type="button" id="todown" class="menu__btn">
            <p class="menu__text">To down</p>
            <svg class="menu__icon" width="24" height="24">
              <use href="#down"></use>
            </svg>
          </button>
        </li>
        <li class="menu__item">
          <button type="button" id="deleted" class="menu__btn">
            <p class="menu__text">Delete</p>
            <svg class="menu__icon" width="24" height="24">
              <use href="#delete"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
