<sidebar class="sidebar">
  <ul class="sidebar__list">
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
    <li class="sidebar__item"><img class="sidebar__img" src="#" alt="" /></li>
  </ul>
</sidebar>
