<sidebar class="sidebar">
  <ul class="sidebar__list">
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
    <li class="sidebar__item">
      <img data-img class="sidebar__img" src="#" alt="Furniture" />
    </li>
  </ul>
</sidebar>
