<sidebar id="sidebar" class="sidebar">
  <button id="sidebar-top-floor" class="sidebar__top">
    Floor
    <svg class="sidebar__icon" width="24" height="24">
      <use href="#arrow"></use>
    </svg>
  </button>
  <ul id="sidebar-list-floor" class="sidebar__list"></ul>
  <button id="sidebar-top-walls" class="sidebar__top">
    Walls
    <svg class="sidebar__icon" width="24" height="24">
      <use href="#arrow"></use>
    </svg>
  </button>
  <ul id="sidebar-list-walls" class="sidebar__list"></ul>
  <button id="sidebar-top-doors" class="sidebar__top">
    Doors
    <svg class="sidebar__icon" width="24" height="24">
      <use href="#arrow"></use>
    </svg>
  </button>
  <ul id="sidebar-list-doors" class="sidebar__list"></ul>
  <button id="sidebar-top-windows" class="sidebar__top">
    Windows
    <svg class="sidebar__icon" width="24" height="24">
      <use href="#arrow"></use>
    </svg>
  </button>
  <ul id="sidebar-list-windows" class="sidebar__list"></ul>
  <button id="sidebar-top-plants" class="sidebar__top">
    Plants
    <svg class="sidebar__icon" width="24" height="24">
      <use href="#arrow"></use>
    </svg>
  </button>
  <ul id="sidebar-list-plants" class="sidebar__list"></ul>
  <button id="sidebar-top-furniture" class="sidebar__top">
    Furniture
    <svg class="sidebar__icon" width="24" height="24">
      <use href="#arrow"></use>
    </svg>
  </button>
  <ul id="sidebar-list-furniture" class="sidebar__list"></ul>
</sidebar>
