* {
    transition: all 0.2s cubic-bezier(.21, .24, .58, .98);
}

html {
    scroll-behavior: smooth;
}

body {
    // font-family: 'Neue Montreal';
    // font-weight: 500;
}

.main {
    background-color: #282828;
}